@media (max-width: 1368px){
    .widgetii{
        display: flex;
        gap: 40px;
        .widget{
            width: 350px;
        }
    }
    .sectia{
        gap: 20px;
    }
    body{
        max-width: 1300px;
    }
    main{
        padding-left: 55px;
    }
    header{
        padding-left: 55px;
    }
}
@media (max-width: 1220px){
    .widgetii{
        display: flex;
        gap: 0;
        .widget{
            .wida{
                p{
                    font-size: 15px;
                }
            }
            .pic{
                width: 280px;
                height: 150px;
                .inp{
                    font-size: 10px;
                    top: 30px;
                    left: 20px;
                }
                img{
                    left: -130px;
                    top: 116px;
                }
            }
            img{
            width: 320px;
            }
        }
    }
    .sectia{
        gap: 30px;
        .images-left-side{
            img{   
                width: 600px; 
            }
            .p2{
                top: 22%;
                left: 28%;
            }
        }
        .images-right-side{
            gap: 40px;
        }
    }
    body{
        max-width: 1200px;
    }
    main{
        padding-left: 25px;
    }
    header{
        padding-left: 25px;
    }
}
@media (max-width: 1100px){
    footer{
        gap: 50px;
    }
}
@media (max-width: 1040px){
    .sectia{
        gap: 60px;
        .images-left-side{
            img{   
                width: 500px; 
            }
            .p2{
                top: 22%;
                left: 28%;
            }
        }
        .images-right-side{
            gap: 40px;
            img{
                width: 300px;
            }
        }
    }
}
@media (max-width: 970px){
    .widgetii{
        gap: 40px;
       .widget{
        width: 250px;
       }
    }
}
@media (max-width: 905px){
    .widgetii{
        max-width: 760px;
        flex-wrap: wrap;
        justify-content: space-around;
        .widget{
            .pic{
                width: 310px;
            }
           img{width: 350px;}
        }
    }
    .sectia{
        flex-wrap: wrap;
        justify-content: center;
        .images-left-side{
            img{ width: 600px;}
        }
        .images-right-side{
            img{ width: 600px;}
        }
    }
    footer{
        gap: 40px;
        nav{
            font-size: 11px;
        }
        p{
            font-size: 12px;
        }
        img{
            width: 40px;
        }
    }
}
@media (max-width: 680px){
    header{
        justify-content: center;
        ul{
            font-size: 15px;
            align-items: center;
        }
    }
    main{
        padding-left: 0px;
    }
    H1{
        display: flex;
        justify-content: center;
    }
    .widgetii{
        flex-direction: column;
        align-content: center;
    }
    .sectia{
        .images-left-side{
            .big1{
                p{
                top: 21%;
                left: 23%;
                }
            }
        img{
            width: 400px;
            }
        }
        .images-right-side{
            img{
                width: 400px;
            }
        }
    }   
}
@media (max-width: 480px){
    header{
        ul{
            flex-direction: column;
            gap: 10px;
        }
    }
    footer{
        gap: 20px;
        nav{
            font-size: 8px;
        }
        p{
            font-size: 9px;
        }
        img{
            width: 40px;
        }
    }
}