@use 'reset';
@use 'mixins';

body {
  @include mixins.color;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  @include mixins.header;
}
header img {
  margin-bottom: -10px;
}
ul{
  display: flex;
  gap: 35px;
  align-items: center;
}
H1 {
  margin-top: 42px;
  font-size: 28px;
  margin-bottom: 27px;
}
main {
  padding-left: 138px;
}
.widget {
  display: inline-block;
  color: #8a8787;
  font-size: 20px;
}
.wida {
  position: relative;
}
.img1 {
  padding-right: 40px;
  position: relative;
  z-index: -1;
}
.p1 {
  z-index: -1;
  position: absolute;
  top: 32px;
  left: 41px;
}
.pic {
  position: relative;
  width: 362px;
  height: 171px;
  z-index: -1;
  background-color: white;
}
.inp {
  position: absolute;
  font-size: 10px;
  top: 68px;
  left: 37px;
}
.timer {
  position: absolute;
  left: 40px;
  top: 118px;
  height: 18px;
}
.time {
  position: absolute;
  left: 67px;
  top: 118px;
  font-size: 13px;
}
.sectia {
  align-items: center;
  gap: 45px;
  display: flex;
  padding-bottom: 36px;
}
.images-left-side {
  @include mixins.left;
}
.p2 {
  position: absolute;
  top: 203px;
  left: 278px;
  font-size: 20px;
}
.images-right-side {
  @include mixins.right;
}
footer{
    @include mixins.footer;
}
footer nav {
  font-size: 15px;
}
footer p {
  color: white;
}
footer img {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}